._*
Todoey/Views/Base.lproj/._Main.storyboard
Todoey/Data Model/DataModel.xcdatamodeld/._ DataModel.xcdatamodel
Todoey/Data Model/._Item.swift
Todoey/Controllers/._TodoListViewController.swift

# CocoaPods
Pods/
